#background{
    width: 100vw;
    height: 91vh;
    background: #6C7A89;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
#form-box {
    width: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 5%;

}
#form-box input {
    font-size: large;
}
fieldset{
    border-color: #cecece;
    margin: 50px;
    padding: 25px;
    border-width: 2px;
    border-style: groove;
    border-radius: 20px;
}
legend{
    font-weight: bold;
    font-size: 13pt;
    font-family: sans-serif;
}
.alternativas{
    padding-right: 15px;
}
